<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Template | NJSharp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://bata.njsharp.uk/styles.css">
        <script src="https://bata.njsharp.uk/scripts.js"></script>
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script src="" async defer></script>

        <header>
            <script>
                // Call the createTopNav function once the external script is loaded
                document.addEventListener('DOMContentLoaded', createTopNav);
            </script>
        </header>
        <main>
            <div class="content-container">

                <a class="back-button" href="/"> All Publications</a>

                <h1>Template</h1>

                <p>
                    Hello World!!!
                </p>

                <p>some text and a <a href="/index.html">link</a> and then some more text...</p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin consectetur erat, aliquet molestie mi pulvinar at. Nulla dictum lorem eu turpis posuere, in vulputate urna rutrum. Nam sollicitudin pulvinar nibh eu faucibus. Nam eget leo in sem mollis iaculis. Nunc sed cursus ipsum. Fusce sit amet dictum sapien. Proin convallis mi quam. Suspendisse dictum sagittis dolor, nec cursus purus.

                    Vivamus id metus lacinia, efficitur turpis pharetra, mollis lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium ipsum at faucibus dapibus. Integer sit amet lacus quis tellus tempus scelerisque tincidunt sit amet enim. Maecenas sed dapibus est. Ut eget ultricies mi, vitae aliquam mi. Mauris ipsum risus, tempor sit amet iaculis ut, varius et neque. Donec at ullamcorper turpis, eget ultricies augue.

                    Cras pellentesque facilisis enim, eget consectetur tellus pretium vehicula. Donec suscipit est ac elit rutrum volutpat. Suspendisse iaculis urna enim, quis varius mauris tincidunt et. Sed congue odio at rhoncus ultricies. Sed ut malesuada neque. Nullam eget cursus mauris, quis iaculis mauris. Phasellus sit amet odio vestibulum, placerat metus vel, tempor urna.

                    Nullam ultricies sed dolor nec interdum. In nec rhoncus purus. Suspendisse potenti. Proin ex enim, facilisis sit amet mollis in, sollicitudin nec eros. Curabitur placerat volutpat egestas. Vivamus facilisis orci non libero tempus, ut euismod odio iaculis. Nullam vel dictum felis, et pulvinar nisi. Vestibulum elit quam, ornare sed libero ac, finibus vehicula arcu. Sed at sodales odio. Vivamus at cursus velit, sit amet pretium velit. Donec ac ultrices ligula, ut convallis arcu. Curabitur vitae convallis est, nec tristique tortor. Phasellus dictum tellus ac vulputate rutrum. Maecenas egestas consequat venenatis. Aliquam commodo arcu a quam hendrerit dapibus. Sed nulla enim, molestie nec augue eu, sollicitudin interdum tellus.

                    Donec a viverra sapien. Phasellus eleifend odio eu mauris porta pharetra. Vestibulum a posuere mauris. Ut quis turpis augue. Vivamus vel ipsum id erat molestie fringilla. Ut fringilla vulputate massa id venenatis. Donec rutrum efficitur ultrices. 
                </p>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>